body {
  text-align: center;
}

.chart-row {
  display: flex;
  width: 100%;
}

.chart {
  flex: 1;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin: 50px 0 0 0;
}

img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:root {
  --image-size: 200px;
}
